.title, .reveal h3.title  {
    font-weight: bold;
    margin-top: 0;
    color: #ffffff;
    text-shadow: 1px 1px 2px #000000;
    text-transform: none;
}

/*
#custom-nav {
	direction: rtl
}
*/

#custom-nav a[disabled] {
	opacity: 0.5;
}

#notes-title {
	margin-bottom: 0.25em;
}

.modal {
	direction: rtl;
	text-align: right;
        font-size: 110%;
}

.modal p, .modal ul {
	margin-bottom: 1em;
}

.modal ul {
	padding-right: 1em;
}

.reveal table thead th,
.reveal table thead td,
.reveal table tbody th,
.reveal table tbody td {
	text-align: center !important;
	vertical-align: top !important;
}

.reveal .slides section section {
	font-size: 90%;
}

.reveal .slides p {
        margin-top: 0.25em;
	text-align: justify;
}

.reveal .slides p.title {
	margin-bottom: 0.1em;
}

.reveal .slides p.small a {
	text-decoration: underline;
}

.reveal .slides .title,
.modal .title {
	text-align: center;
	font-weight: bold;
}

.reveal .slides .small,
.modal .small {
        font-size: 80%;
}

.reveal .slides ul {
	max-width: 85%
}

#notes-text {
	direction: rtl;
	width: 100%;
	height: 18em;
}

#notes-title {
	direction: rtl;
        text-align: right;
	width: 100%;
}

.slide-number {
	border-radius: 0.5em;
}
