<!DOCTYPE html>
<html>
<head>
<meta name="generator" content=
"HTML Tidy for HTML5 for Linux version 5.7.28">
<meta charset="utf-8">
<meta name="viewport" content=
"width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
<title>{{ title_prefix }} {{ title }}</title>
<link rel="shortcut icon" href="gfx/logo.jpg">
<link rel="stylesheet" href="css/reset.css">
<link rel="stylesheet" href="css/reveal.css">
<link rel="stylesheet" href="lib/css/jquery.modal.min.css">
<link id="theme" rel="stylesheet" href="css/theme/white.css">
<link id="nav-theme" rel="stylesheet" href="css/nav/white.css">
<link rel="stylesheet" href="css/idie.css">
<link rel="stylesheet" href=
"https://use.fontawesome.com/releases/v5.6.3/css/all.css"
integrity=
"sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
  crossorigin="anonymous">
  <!-- Theme used for syntax highlighting of code -->
  <link rel="stylesheet" href="lib/css/monokai.css">
  <!-- Printing and PDF exports -->
  <script>
    var link = document.createElement( 'link' );
    link.rel = 'stylesheet';
    link.type = 'text/css';
    link.href = window.location.search.match( /print-pdf/gi ) ? 'css/print/pdf.css' : 'css/print/paper.css';
    document.getElementsByTagName( 'head' )[0].appendChild( link );
  </script>
  <style>
   h3.slide_title::before { content: '{{ title_prefix }}' }
  </style>
</head>
<body>
  <div id="custom-nav">
    <a href="#/" title="תוכן">
    <!-- the zero-width-space is a tweak against tidy removing empty tags -->
     <i class="fa fa-home">​</i></a> <a id="top-link" title="תוכן הנושא הנוכחי"
	    disabled=""><i class="fa fa-angle-double-up">​</i></a>
     &nbsp;
     <a id="notes-view-button" target="_blank" href="notes.html" title="הרשימות שלי"><i class="fa fa-file">​</i></a>
     &nbsp;
     <a rel="modal:open" href="help.html" title="עזרה"><i class="fa fa-question-circle">​</i></a> 
	  </div>
  <div class="reveal">
    <div class="slides">
      {{#columns}}
        <section{{#id}} id="{{.}}"{{/id}}{{#params}} {{{.}}}{{/params}}>
          <h3 class="title slide_title"><!-- img style="width:1.5em; vertical-align: middle" src="gfx/logo.jpg"/ --> {{title}}</h3>
            
          <section>
              {{{content}}}
              {{#has_menu}}
              <ul>
                {{#menu}}
                  <li><a href="#/{{id}}">{{title}}</a></li>
                {{/menu}}
              </ul>
            {{/has_menu}}
            {{#has_slides}}
              <ul>
                {{#slides}}
                  {{#title}}<li><a href="#/{{id}}">{{title}}</a></li>{{/title}}
                {{/slides}}
              </ul>
            {{/has_slides}}
          </section>
          {{#slides}}
            <section id="{{id}}"{{#params}} {{{.}}}{{/params}}>
              {{#title}}<p class="title">{{.}}</p>{{/title}}
              {{^title}}<p class="title small">{{headline}}</p>{{/title}}
              {{{content}}}
              {{#next}}
                <p class="title"><a title="המשך" href="#/{{.}}"><i class="fa fa-angle-down">​</i></a></a></p>
              {{/next}}
            </section>
          {{/slides}}
        </section>
      {{/columns}}
    </div>
  </div>
  <div id="notes-modal" class="modal">
    <div id="notes-title"></div>
    <textarea id="notes-textarea" dir="rtl" style="width:100%; height: 18em" placeholder="החלטות, הערות, ורשימות אישיות"></textarea>
  </div>
  <script src="js/reveal.js"></script> 
  <script src="lib/js/jquery-3.5.1.min.js"></script> 
  <script src="lib/js/jquery.modal.min.js"></script> 
  <script>
    // More info about config & dependencies:
    // - https://github.com/hakimel/reveal.js#configuration
    // - https://github.com/hakimel/reveal.js#dependencies
    Reveal.initialize({
            rtl: true,
            hash: true,
            controlsTutorial: false,
            transition: 'convex',
            controlsBackArrows: 'visible',  // would hopefully solve the faded-arrow thing
            slideNumber: "h.v",
            dependencies: [
                    { src: 'plugin/markdown/marked.js' },
                    { src: 'plugin/markdown/markdown.js' },
                    { src: 'plugin/notes/notes.js', async: true },
                    { src: 'plugin/highlight/highlight.js', async: true }
            ]
    });
    $(function() {
        // open external links in new tab
        $('.reveal a:not([href^="#"])').attr('target','_blank');
        var setGender = function(gender) {
            $('.gender').hide();
            $('.gender.'+gender).show();
            localStorage.setItem('gender', gender);
        }
        var gender = localStorage.getItem('gender') || 'they';
        $('#gender').val(gender);
        setGender(gender);
        $('#gender').on('change', function() {
            setGender($('#gender').val());
        });
        var enterSlide = function() {
            $.modal.close();
            // set theme
            var the_slide=$(Reveal.getCurrentSlide()),
                the_theme=the_slide.data('theme') ||
                    the_slide.parent().data('theme') || 'sky',
                the_real_id=the_slide.data('real-id'),
                the_real_title=the_slide.data('real-title');
            if (the_real_id) {
                $('#notes-title').text(`רשימות בנושא "${the_real_title}"`);
                $('#notes-textarea').val(localStorage.getItem('notes-'+the_real_id) || '').data('note-id', 'notes-'+the_real_id);
                $('#notes-textarea').on('change paste keyup', function() {
                    localStorage.setItem($(this).data('note-id'), $(this).val());
                });
            }
            $('#theme').attr('href',`css/theme/${the_theme}.css`);
            $('#nav-theme').attr('href',`css/nav/${the_theme}.css`);
            // set (or hide) top link
            var here = Reveal.getIndices();
            if (here.v) {
                $('#top-link').removeAttr('disabled').attr('href', `#/${here.h}`);
            } else {
                $('#top-link').attr('disabled', '');
            }
        };
        enterSlide();
        Reveal.addEventListener('slidechanged', enterSlide);
    });
  </script>
</body>
</html>
