#custom-nav {
    position:fixed; bottom: 0.5em; left: 0.5em;
    z-index: 529; font-size: 200%;
}
#custom-nav a, #custom-nav a:active, #custom-nav a:visited {
  color: #2a76dd;
  border: 0; outline: 0;
}
#custon-nav a:hover {
  color: #6ca0e8;
}
@media print {
  #custom-nav { display: none !important }
}
